

#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(197, 196, 196);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  color: rgb(100, 99, 99);
  border: 100 solid rgb(46, 45, 45) ;
  margin: 20px;
  text-align: center;
}


.Card-Component{
  width: 250px;
  padding: 16px;
  border-radius: 10px;
  text-align: left;
  margin: 0px;
  flex-wrap: wrap;
}

.Card-Component img{
  width: 100%;
  height: 400px;
}

.Card-Component h2 {
  font-size: 24px;
  margin: 0px 0;
  color: #000000;
}

.Card-Component h4 {
  font-size: 18px;
  color: #696969;
  margin: 0px;
}

.Card-Component .ratingGreen {
  color: green;
  margin: 0px;
}

.Card-Component .ratingRed {
  color: red;
  margin: 0px;
}

.Card-Component .rate {
  margin: 0px;
  color: #696767;
}


.main-container{
  border-top: #636262 solid;
  border-width: 6px;
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
